* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(11, 2, 88);
}
.boxes {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 80%;
  height: auto;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  margin: 2rem auto;
}
.box {
  padding: 0.5rem;
  text-align: center;
}
.box h1 {
  background-color: rgba(46, 234, 4, 0.84);
  padding: 5px;
  color: white;
  border-radius: 5px;
}

button {
  padding: 1rem;
  background-color: rgb(249, 36, 3);
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  border-style: none;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 1rem auto;
}
#diceimg {
  margin: auto;
  width: 150px;
  width: 170px;
  height: 170px;

  border: 10px solid black;
}
h1.active {
  background-color: rgb(11, 6, 85);
}
