* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  background-color: rgb(11, 230, 238);
}
.boxes {
  display: flex;
  flex-wrap: wrap;
}
.box {
  padding: 7px;
}
.box h1 {
  background-color: rgb(9, 9, 9);
  padding: 5px;
  color: white;
  border-radius: 5px;
}

button {
  padding: 1rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  border-style: none;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 2rem auto;
}
#diceimg {
  margin: auto;
  width: 150px;
  width: 170px;
  height: 170px;

  border: 10px solid black;
}
h1.active {
  background-color: rgb(255, 0, 0);
}
